.navbar {
    background: #0f172a;
    color: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .08);
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 18px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    margin: 0;
    font-size: 24px;
}

.navbar nav {
    display: flex;
    gap: 24px;
}

.navbar a {
    color: #cbd5e1;
    text-decoration: none;
    transition: .2s;
    font-weight: 600;
}

.navbar a:hover {
    color: white;
}

.navbar a.active {
    color: white;
}

@media(max-width:700px) {

    .navbar-container {
        flex-direction: column;
        gap: 16px;
    }

}